.matrix-background {
  width: fit-content;
  height: auto;
  background: black;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
header {
  color: white;
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.container-main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: white;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

header {
  text-align: center;
  padding: 40px 0;
}

section {
  margin: 40px 0;
}

h2 {
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

p {
  line-height: 1.6;
}
